<div class="nested-fields">
    <%= f.label :description %>
        <br />
        <%= f.text_field :description, class:"form-control" %>
            <%= f.check_box :correct %> Correcta?
                <%= link_to_remove_association('Remover', f) %>
</div>